body{
font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Varela', sans-serif;
}
h1{
	font-size: 60px;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2b2d3c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar-brand{
	font-family: 'Monoton', cursive;
	color: #fff;
	font-size: 30px;
}
nav.navbar {
	background-color: transparent;
	color: #fff;
}

section{
	position:absolute;
	top: 25%;
	height: 620;
	width: 100%;
	background: transparent;
}



.home-bio {
  position: relative;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 20%;
  color: #fff;
  background: transparent;
  text-align: center;
}

.home-bio h5 {
	color: #fff;
  margin-top: 9px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}

.name {
	color: #00ff9f;
}

a{
	color: #fff;
	text-decoration: none !important;
}

/*.portfolio{
	position: relative;
	margin-left: 5%;
	margin-top: 15%;
}*/

.card{
	position: relative;
	margin-left: 4%;
	margin-right: 3%;
	margin-bottom: 3%;
}

.modal {
	color: #fff;
	position: absolute;
	left: 15%;
	top: -15%;
	background: #d6d7dc5e;
	height:550px;
	width: 900px;
}

.modal-header{
	background-color: #ffffffb8;
	color: #646773;
}
